/*Start page*/

#logo{
  transform: rotateZ(40deg);
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
#lets-start{
background-color: transparent;
  color: #cbffba;
  font-size: 40px;
  font-family: Salina, serif;

  text-decoration: none;


}
#lets-start:hover{
   transform: scale(5);
 }
#start-screen{
  text-align: center;
  text-decoration: none;
}

#welcome{
  height: 300px;
  font-family: Salina, serif;
  font-size: 50px;
  padding-top: 110px;
  border-radius: 20%;
  background-color: white;

}


/*particles*/




/*------------------------------------------- home page */
html{
  scroll-behavior: smooth ;
}

body{
    margin: 0;
    padding: 0;
}

#wrapper{
    background-color: #CCFFCB;
    margin: auto;
   width:80%;

}



/* Header*/
#header{

}
#nav-bar,a{
  background-color: black;
  text-decoration: none;
  color: white;

}

#banner{
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: grey;
}
picture{
  display: table;
}
#poster-1, #poster-2{
  width: 50%;
  height: 50%;
}

/*intro section */

.profile-photo{
  background: rgba(15,28,63,0.125);
  border-radius: 50%;
  height: 350px;
  object-fit: cover;
  width: 350px;
}
/*----sections*/
section{
  width: 80%;
  text-align: start;
  display: block;
  margin-left:10%;
  font-family: 'Lobster Two', cursive;
}
/*---------------footer*/
footer{
  width: 100%;
  background-color: black;
  color: white;height: 20%;
}
#footer-section{
  font-family: normal, serif;
  text-align: center;

}
#contact-form{
  width: 100px;

}
#name-form,#email-form{
  width: 350px;
  height: 50%;
}
#bericht-form{
  height: 200px;
  width: 400px;
}
/* laptop */
