/*Start page*/
.element::-webkit-scrollbar { width: 0 !important }
#logo{
  height: 200px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
#blank{
  background-color: transparent;
}
.arrow{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
margin-bottom: 50px;
}
.arrow-bottom{
  transform: rotate(135deg);
}
.arrow-bottom:active{
  transform: rotate(-20deg);
}
.arrow-bottom:hover{
  transform: scale(2) rotate(135deg);

}

#lets-start{
background-color: transparent;
  color: #cbffba;
  font-size: 40px;
  font-family: Salina, serif;
  text-decoration: none;  overflow: hidden; /* Hide scrollbars */

}

#start-screen{
  text-align: center;
  text-decoration: none;
  padding-bottom: 100%;
  overflow: hidden;
  justify-content: center;

}

#welcome{
  font-family: Salina, serif;
  font-size: 50px;
  padding-top: 110px;
  border-radius: 20%;
  background-color: white;

}


/*Glowing*/
#geeks {
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#geeks::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    animation: animate 4s forwards infinite;
    animation-direction: alternate;


}

@keyframes animate {
    0% {
        left: 0px; top: 0px;
    }
    25%{
        left: 200px; top: 0px;
    }
    50%{
        left: 200px; top: 200px;
    }
    75%{
        left: 0px; top: 200px;

    }
    100% {
        left: 0px; top: 0px;
    }
}

/*------------------------------------------- home page */

html{
  scroll-behavior: smooth ;
}

body{
    margin: 0;
    padding: 0;
}

#wrapper{
    background-color: #CCFFCB;
    margin: auto;
   width:80%;

}



/* Header*/
#header{
    width: 100%;

    text-align: center;
}
#nav-bar,a{
    text-decoration: none;
    color: white;
    background-color: grey;
}
#contactImage{
    width: 100%;
    padding-bottom: 50px;
}
#banner{
  font-size: 40px;
  color: white;

}
picture{
  display: table;
}
#poster-1, #poster-2{
  width: 50%;
  height: 50%;
}

/*intro section */

.profile-photo{
  background: rgba(15,28,63,0.125);
  border-radius: 50%;
  height: 50%;
  object-fit: cover;
  width: 50%;
  text-align: center;
}
/*----sections*/
section{
  width: 80%;
  text-align: start;
  display: block;
  margin-left:10%;
  font-family: 'Lobster Two', cursive;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    content: '★ ';

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}

/*---------------footer*/
footer{
    width: 100%;
    background-color: grey;
    color: white;height: 20%;
}
#footer-section{
  font-family: normal, serif;
  text-align: center;

}
#contacttext{
     color: blue;
     background: transparent;

 }
/*--------------------------Contact Form */

#contact-form{
    font-family: "18thCentury",serif;
    font-size: 30px;
    width: 100%;
    background: transparent;
}
#form{
padding-bottom: 50px;
}
input,textarea{
    border: 0
}
input:hover{
background-color: lightblue;
    transform: scale(1.2);

}
input:fullscreen{
    border-bottom-color: violet;
}
#button{
    width: 20%;
    height: 50px;
    background-color: lightblue;
    border:0
}
#name-form,#email-form,#subject{
  width: 80%;
}
#bericht-form{
  height: 200px;
  width: 80%;
}
